//- ====================
//- Блочная ссылка (Кнопка)
//- ====================

//- if <a>       "link": false
//- if <button>  "link": true

mixin button(content, title, link)
    if link == false
        +b('a').button( href="javascript:void(0);" title=`${title}` )&attributes( attributes ) #{content}
            block

    else
        +b('button').button(title=`${title}`)&attributes( attributes ) #{content}
            block
