//- ====================
//- Строчная ссылка (in text)
//- ====================

//- if <a>        link = true
//- if <button>   link = false

mixin link(content, title, link)
    if link == true
        +b('a').link( href="javascript:void(0);" title=`${title}` )&attributes( attributes ) #{content}
            block

    else
        +b('button').link(title=`${title}`)&attributes( attributes ) #{content}
            block

mixin link--type(type)
    +b(type).link&attributes( attributes )
        block