//- ====================

mixin example-popup()
    include ../ui-kit/popup.pug
    include ../ui-kit/title.pug
    include ../ui-kit/button.pug

    +b('aside').example-popup
        //- Крестик
        +popup_close()

        div
            p example