// Fonts
@font-base: 'Roboto', sans-serif;

// Animation
@fast-animation: 0.15s;
@animation-time: 0.2s;
@double-animation: 0.4s;

// шрифты
.roboto-300() { font-family: 'Roboto', sans-serif; font-weight: 300; }
.roboto-400() { font-family: 'Roboto', sans-serif; font-weight: 400; }
.roboto-500() { font-family: 'Roboto', sans-serif; font-weight: 500; }
.roboto-700() { font-family: 'Roboto', sans-serif; font-weight: 700; }

/** ----- Mixins class ----- */
.popup-content-default-style() {
    background-color: @background;
    padding: 16px 32px;
    border-radius: 4px;
    margin-bottom: 100px;
    max-width: 640px;
}


// MediaQ - теперо подключаются в layout
@desktop: ~"(max-width: 1439px)";
@desktop-min: ~"(max-width: 1365px)";
@tablet: ~"(max-width: 1023px)";
@mobile: ~"(max-width: 767px)";

// Colors
// * Добавлять по категориям cl-элемент
// * @cl-button-bg: @Var

// Цвета theme
@cl-theme-link: @cl-font-main;
@cl-theme-link-hover: @cl-green;

// Цвета текста
@cl-font-main: @cl-gray-100;
@cl-font-light: @cl-gray-300;

// Общий док
@background: #f6f6f6;
@background-main: #fff;

// разделитель между секция
@hr-main: #ccc;

// бордеры элементов
@cl-border: #ccc;

// Основной акцентный цвет
@cl-main: @cl-green;

// Статусы
@errorColor: #e60808;
@okColor: #11ad45;
@warningColor: #ffa000;

// элементы формы (input, textarea, select, etc)
@form-back: #fff;
@form-border: #ccc;

// Checkbox
@check-mark: #fff;

// Radiobutton
@radio-back: #fff;

//// Кнопки
// main
@btn-main-back: @cl-green;
// disable button
@btn-disable-back: #E6E6E6;
@btn-disable-text: #ccc;

// Ссылки
@link-disable: @cl-gray-500;
@link-light: @cl-gray-500;

// Тени
@shadow-main: 0 1px 2px 0 rgba(0, 0, 0, 0.12);


/** ----- ЦВЕТА ----- */
// серый
@cl-gray-100: #111;
@cl-gray-300: #3b3b3b;
@cl-gray-500: #999999;

// оранжевый
@cl-orange: #e9940a;
// синий
@cl-blue: #0055bb;
// красный
@cl-red: #e60909;
// зелёный
@cl-green: #38B86F;
// фиолетовый
@cl-purpure: #7142d6;

// // Alpha colors
// // @cl-alpha: rgba(255, 255, 255, .2); // цвет + описание

// Генерируемые цвета - ниже не пишем ничего сами )
